.record-list {
  margin-top: 20px;
  .record-lockup {
    padding: 20px 0;
    &:not(:first-child) {
      border-top: 1px solid $border-color;
    }
    .record-name {
      font-size: 20px;
    }
    .record-description {
      font-size: 14px;
      color: $light-text-color;
    }
  }
}

.records-list {
  .record {
    padding: 10px 0;
    &:not(:first-child) {
      border-top: 1px solid $border-color;
    }
    .record-name {
      font-size: 20px;
    }
    .record-description {
      font-size: 14px;
      color: $light-text-color;
    }
  }
}

.record, .record-lockup {
  .record-info {
    .record-name {
      font-size: 20px;
    }
    .record-description {
      font-size: 12px;
      color: $light-text-color;
    }
  }
  table.record-entries {
    thead {
      th {
        background-color: #8888cc;
        text-align: left;
        color: #fff;
        padding: 3px;
      }
    }
    tbody {
      tr {
        td {
          padding: 6px;
        }
        &:nth-child(even) {
          td {
            background-color: #eee;
          }
        }
      }
    }
  }
}
