@charset "UTF-8";

@import '_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  color: $text-color;
}

.main-logo {
  display: block;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  font-size: 30px;
  color: $primary-color;
  font-family: 'Righteous', cursive;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  a {
    margin-right: 20px;
    display: inline-block;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: $light-background-color;

    &:hover {
      background-color: $accent-color;
      color: #fff;
      text-decoration: none;
    }
  }
}

#content {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.record, .record-lockup {
  table {
    width: 100%;
  }
}

.rosters {
  display: flex;
  .roster {
    padding: 10px;
    width: 50%;
    .matchup-slot-wrapper {
      .week {
        display: none;
      }
      .matchup-slot {

      }
    }
    &:last-child {
      .matchup-slot-wrapper {
        .matchup-slot {
          flex-direction: row-reverse;
          .selected-position {
            margin-right: 0;
            margin-left: 10px;
            text-align: right;
          }
          .matchup-slot-points-info {
            margin-left: 0;
            margin-right: auto;
          }
          .player-lockup {
            .player-info {
              flex-direction: row-reverse;
              .player-image {
                margin-right: 0;
                margin-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}

.matchup-slot-wrapper {
  .matchup-slot {
    padding: 10px;
    display: flex;
    align-items: center;
    .selected-position {
      margin-right: 10px;
      font-size: 12px;
      font-weight: bold;
      width: 40px;
    }
    .matchup-slot-points-info {
      margin-left: auto;
    }
    .matchup-slot-player-info {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid $border-color;
    }
  }
}

.player-matchup-slots-by-league {
  margin-top: 30px;
  .player-matchup-slots-for-league {
    .league {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
}

.matchup-slot-wrapper + .matchup-slot-wrapper {
  padding: 20px 0;
  border-top: 1px solid $border-color;
}

h1 {
  font-size: 36px;
  margin: 40px 0 30px;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0 20px;
}

@import '_records.scss';
@import '_managers.scss';
@import '_matchups.scss';
@import '_teams.scss';
@import '_leagues.scss';
@import '_players.scss';
@import '_rivalries.scss';
