@charset "UTF-8";

@import '_variables.scss';

@import '_records.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  color: $text-color;
}

nav {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  a {
    margin-right: 20px;
  }
}

#content {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.team-info {
  display: flex;
  align-items: center;

  .team-logo {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
  }

  .team-name {
    font-size: 20px;
    margin-right: 10px;
  }

  .team-manager {
    font-size: 14px;
  }
}

.matchup {
  margin: 10px 0;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  .team-a, .team-b {
    width: 50%;
    display: flex;
  }

  .team-name {
    margin-right: auto;
    font-size: 18px;
  }

  .team-points {
    margin-right: 10px;
    font-size: 18px;
  }

  .team-projected-points {
    font-size: 14px;
    color: #999;
  }

  .team-a {
    padding-right: 20px;
  }

  .team-b {
    padding-left: 20px;
  }

  .vs {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.record, .record-lockup {
  table {
    width: 100%;
  }
}

.rosters {
  display: flex;
  .roster {
    padding: 10px;
    width: 50%;
    .matchup-slot-wrapper {
      .week {
        display: none;
      }
      .matchup-slot {

      }
    }
    &:last-child {
      .matchup-slot-wrapper {
        .matchup-slot {
          flex-direction: row-reverse;
          .selected-position {
            margin-right: 0;
            margin-left: 10px;
            text-align: right;
          }
          .matchup-slot-points-info {
            margin-left: 0;
            margin-right: auto;
          }
          .player-lockup {
            .player-info {
              flex-direction: row-reverse;
              .player-image {
                margin-right: 0;
                margin-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}

.matchup-slot-wrapper {
  .matchup-slot {
    padding: 10px;
    display: flex;
    align-items: center;
    .selected-position {
      margin-right: 10px;
      font-size: 12px;
      font-weight: bold;
      width: 40px;
    }
    .matchup-slot-points-info {
      margin-left: auto;
    }
  }
}

.matchup-slot-wrapper + .matchup-slot-wrapper {
  border-top: 1px solid $border-color;
}

.player-lockup {
  .player-info {
    display: flex;
    align-items: center;
    .player-image {
      background-color: #fff;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-size: contain;
      background-position: center;
      margin-right: 4px;
      background-repeat: no-repeat;
    }
    .player-name {
      font-size: 18px;
    }
  }
}
