{% if matchup.team_b.id == root_team_id %}
  {% set team_b = matchup.team_a %}
  {% set team_b_points = matchup.team_a_points %}
  {% set team_b_projected_points = matchup.team_a_projected_points %}
  {% set team_a = matchup.team_b %}
  {% set team_a_points = matchup.team_b_points %}
  {% set team_a_projected_points = matchup.team_b_projected_points %}
{% else %}
  {% set team_a = matchup.team_a %}
  {% set team_a_points = matchup.team_a_points %}
  {% set team_a_projected_points = matchup.team_a_projected_points %}
  {% set team_b = matchup.team_b %}
  {% set team_b_points = matchup.team_b_points %}
  {% set team_b_projected_points = matchup.team_b_projected_points %}
{% endif %}
<div class='matchup-wrapper'>
  <div class='week'>
    <a href='/league/{{ matchup.league.id }}/matchup/{{ matchup.id }}/'>Week {{ matchup.week }}</a>
  </div>
  <div class='matchup {% if hide_root %}hide-root-team{% endif %}'>
    <div class='team-a'>
      <div class='team-name'>
        <a href='/league/{{ matchup.league.id }}/matchups/{{ matchup.id }}/team/{{ team_a.id }}'>
          {{ team_a.name }}
        </a>
      </div>
      <div class='team-points'>{{ team_a_points }}</div>
      <div class='team-projected-points'>({{ team_a_projected_points }})</div>
    </div>
    <div class='vs'>VS</div>
    <div class='team-b'>
      <div class='team-name'>
        <a href='/league/{{ matchup.league.id }}/matchups/{{ matchup.id }}/team/{{ team_b.id }}'>
          {{ team_b.name }}
        </a>
      </div>
      <div class='team-points'>{{ team_b_points }}</div>
      <div class='team-projected-points'>({{ team_b_projected_points }})</div>
    </div>
  </div>
</div>
