{% if matchup.team_b.id == root_team_id %}
  {% set team_b = matchup.team_a %}
  {% set team_b_points = matchup.team_a_points %}
  {% set team_b_projected_points = matchup.team_a_projected_points %}
  {% set team_a = matchup.team_b %}
  {% set team_a_points = matchup.team_b_points %}
  {% set team_a_projected_points = matchup.team_b_projected_points %}
{% else %}
  {% set team_a = matchup.team_a %}
  {% set team_a_points = matchup.team_a_points %}
  {% set team_a_projected_points = matchup.team_a_projected_points %}
  {% set team_b = matchup.team_b %}
  {% set team_b_points = matchup.team_b_points %}
  {% set team_b_projected_points = matchup.team_b_projected_points %}
{% endif %}
<div class='matchup-wrapper'>
  <div class='week'>
    <a href='/league/{{ matchup.league.id }}/matchup/{{ matchup.id }}/'>Week {{ matchup.week }}</a>
  </div>
  <div class='matchup {% if hide_root %}hide-root-team{% endif %}'>
    <div class='team-a'>
      {% if matchup.winner_team_key == team_b.key and matchup.is_losers %}
        <div class='trophy'>☠️</div>
      {% else %}
        {% if matchup.winner_team_key == team_a.key %}
          <div class='trophy'>🏆</div>
        {% endif %}
      {% endif %}
      <div class='team-info'>
        <div class='team-name'>
          {% if team_link %}
            <a href='/league/{{ matchup.league.id }}/team/{{ team_a.id }}'>
          {% else %}
            <a href='/league/{{ matchup.league.id }}/matchup/{{ matchup.id }}'>
          {% endif %}
            {{ team_a.name }}
          </a>
        </div>
        <div class='manager-name'>
          {% for manager in team_a.managers %}
            <a href='/manager/{{ manager.id }}'>
              {{ manager.nickname }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class='team-points'>{{ team_a_points|round(2) }}</div>
      {% if team_a_projected_points %}
        <div class='team-projected-points'>({{ team_a_projected_points|round(2) }})</div>
      {% endif %}
    </div>
    <div class='vs'>VS</div>
    <div class='team-b'>
      {% if matchup.winner_team_key == team_a.key and matchup.is_losers %}
        <div class='trophy'>☠️</div>
      {% else %}
        {% if matchup.winner_team_key == team_b.key %}
          <div class='trophy'>🏆</div>
        {% endif %}
      {% endif %}
      <div class='team-info'>
        <div class='team-name'>
          {% if team_link %}
            <a href='/league/{{ matchup.league.id }}/team/{{ team_b.id }}'>
          {% else %}
            <a href='/league/{{ matchup.league.id }}/matchup/{{ matchup.id }}'>
          {% endif %}
            {{ team_b.name }}
          </a>
        </div>
        <div class='manager-name'>
          {% for manager in team_b.managers %}
            <a href='/manager/{{ manager.id }}'>
              {{ manager.nickname }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class='team-points'>{{ team_b_points|round(2) }}</div>
      {% if team_b_projected_points %}
        <div class='team-projected-points'>({{ team_b_projected_points|round(2) }})</div>
      {% endif %}
    </div>
  </div>
</div>
