* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  color: #222;
}

.main-logo {
  display: block;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  font-size: 30px;
  color: #144676;
  font-family: "Righteous", cursive;
}

a {
  color: #144676;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
}
nav a {
  margin-right: 20px;
  display: inline-block;
  padding: 10px 12px;
  border-radius: 4px;
  background-color: #e8e8e8;
}
nav a:hover {
  background-color: #c82823;
  color: #fff;
  text-decoration: none;
}

#content {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.record table, .record-lockup table {
  width: 100%;
}

.rosters {
  display: flex;
}
.rosters .roster {
  padding: 10px;
  width: 50%;
}
.rosters .roster .matchup-slot-wrapper .week {
  display: none;
}
.rosters .roster:last-child .matchup-slot-wrapper .matchup-slot {
  flex-direction: row-reverse;
}
.rosters .roster:last-child .matchup-slot-wrapper .matchup-slot .selected-position {
  margin-right: 0;
  margin-left: 10px;
  text-align: right;
}
.rosters .roster:last-child .matchup-slot-wrapper .matchup-slot .matchup-slot-points-info {
  margin-left: 0;
  margin-right: auto;
}
.rosters .roster:last-child .matchup-slot-wrapper .matchup-slot .player-lockup .player-info {
  flex-direction: row-reverse;
}
.rosters .roster:last-child .matchup-slot-wrapper .matchup-slot .player-lockup .player-info .player-image {
  margin-right: 0;
  margin-left: 4px;
}

.matchup-slot-wrapper .matchup-slot {
  padding: 10px;
  display: flex;
  align-items: center;
}
.matchup-slot-wrapper .matchup-slot .selected-position {
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
  width: 40px;
}
.matchup-slot-wrapper .matchup-slot .matchup-slot-points-info {
  margin-left: auto;
}
.matchup-slot-wrapper .matchup-slot .matchup-slot-player-info {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #f0f0f0;
}

.player-matchup-slots-by-league {
  margin-top: 30px;
}
.player-matchup-slots-by-league .player-matchup-slots-for-league .league {
  font-size: 24px;
  margin-bottom: 10px;
}

.matchup-slot-wrapper + .matchup-slot-wrapper {
  padding: 20px 0;
  border-top: 1px solid #f0f0f0;
}

.player-lockup .player-info {
  display: flex;
  align-items: center;
}
.player-lockup .player-info .player-image {
  background-color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  margin-right: 4px;
  background-repeat: no-repeat;
}
.player-lockup .player-info .player-name {
  font-size: 18px;
}

h1 {
  font-size: 36px;
  margin: 40px 0 30px;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0 20px;
}

.record-list {
  margin-top: 20px;
}
.record-list .record-lockup {
  padding: 20px 0;
}
.record-list .record-lockup:not(:first-child) {
  border-top: 1px solid #f0f0f0;
}
.record-list .record-lockup .record-name {
  font-size: 20px;
}
.record-list .record-lockup .record-description {
  font-size: 14px;
  color: #777;
}

.records-list .record {
  padding: 10px 0;
}
.records-list .record:not(:first-child) {
  border-top: 1px solid #f0f0f0;
}
.records-list .record .record-name {
  font-size: 20px;
}
.records-list .record .record-description {
  font-size: 14px;
  color: #777;
}

.record .record-info .record-name, .record-lockup .record-info .record-name {
  font-size: 20px;
}
.record .record-info .record-description, .record-lockup .record-info .record-description {
  font-size: 12px;
  color: #777;
}
.record table.record-entries thead th, .record-lockup table.record-entries thead th {
  background-color: #8888cc;
  text-align: left;
  color: #fff;
  padding: 3px;
}
.record table.record-entries tbody tr td, .record-lockup table.record-entries tbody tr td {
  padding: 6px;
}
.record table.record-entries tbody tr:nth-child(even) td, .record-lockup table.record-entries tbody tr:nth-child(even) td {
  background-color: #eee;
}

.managers .manager {
  font-size: 20px;
  padding: 10px 14px;
}
.managers .manager:nth-child(even) {
  background-color: #e8e8e8;
}

td.matchup {
  display: table-cell !important;
}

.matchup {
  margin: 10px 0;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.matchup .team-a, .matchup .team-b {
  width: 50%;
  display: flex;
}
.matchup .team-name {
  margin-right: auto;
  font-size: 18px;
}
.matchup .team-points {
  margin-right: 10px;
  font-size: 18px;
}
.matchup .team-projected-points {
  font-size: 14px;
  color: #999;
}
.matchup .team-a {
  padding-right: 20px;
}
.matchup .team-b {
  padding-left: 20px;
}
.matchup .vs {
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.matchup-wrapper {
  width: 100%;
  padding: 0 15px;
}
.matchup-wrapper .week {
  font-size: 12px;
  text-transform: uppercase;
}

.matchups {
  margin-top: 20px;
}
.matchups .matchup {
  padding: 10px;
}
.matchups .matchup:not(:first-child) {
  border-top: 1px solid #f0f0f0;
}

.teams .team-lockup {
  padding: 10px;
}
.teams .team-lockup:not(:first-child) {
  border-top: 1px solid #f0f0f0;
}

.team-lockup {
  display: flex;
  align-items: center;
}
.team-lockup .team-logo {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fff;
}
.team-lockup .team-info .main-info {
  display: flex;
  align-items: center;
}
.team-lockup .team-info .main-info .team-name {
  font-size: 20px;
  margin-right: 10px;
}
.team-lockup .team-info .main-info .team-manager {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
