<!DOCTYPE HTML>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <meta charset="utf-8"/>
</head>
<body>
  <a class='main-logo' href='/'>JUST 2 GUYS</a>
  <nav>
    <a href='/'>Leagues</a>
    <a href='/managers/'>Managers</a>
    <a href='/records/'>Records</a>
  </nav>
  <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
