{% extends "base.html" %}
{% block content %}
  <div class='league-header'>

  </div>
  <table class='teams'>
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>Team</th>
        <th>Record</th>
        <th>Points For</th>
        <th>Points Against</th>
      </tr>
    </thead>
    <tbody>
    {% for team in league.teams %}
      <tr>
        <td>
          <img src='{{ team.logos[0] }}' />
        </td>
        <td></td>
        <td>
          <a href='/{{ team|team_link(league) }}'>{{ team.name }}</a>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
