{% extends "base.html" %}
{% block content %}
  <header>
    <div class='title'>
        {{ league.name }}
    </div>
  </header>
  <table class='teams'>
    <h2>
      Playoffs
    </h2>
    <h2>
      Regular Season
    </h2>
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>Team</th>
        <th>Record</th>
        <th>Points For</th>
        <th>Points Against</th>
      </tr>
    </thead>
    <tbody>
    {% for team in league.teams %}
      <tr>
        <td>
          <img src='{{ team.logos[0] }}' />
        </td>
        <td></td>
        <td>
          <a href='/{{ team|team_link(league) }}'>{{ team.name }}</a>
        </td>
        <td>{{ team.record.wins }} &ndash; {{ team.record.losses }}</td>
        <td>{{ team.record.team_points|round(2) }}</td>
        <td>{{ team.record.points_against|round(2) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
