{% extends "base.html" %}
{% block title %}{{ manager.nickname }} - Just 2 Guys{% endblock %}
{% block content %}
  <h1>{{ manager.nickname }}</h1>
  <h2>Teams</h2>
  <div class='teams'>
    {% for team in manager.teams %}
      {% include 'includes/teamlockup.html' %}
    {% endfor %}
  </div>
  <h2>Rivalries</h2>
  <div class='rivalry-list'>
    {% for rivalry in rivalries %}
      {% include 'includes/rivalrylockup.html' %}
    {% endfor %}
  </div>
  <h2>Records</h2>
  <div class='record-list'>
    {% for record in records %}
      {% include 'includes/recordlockup.html' %}
    {% endfor %}
  </div>
{% endblock %}
